
CREATE TABLE IF NOT EXISTS support_tickets (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    sender_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    agency_id UUID REFERENCES agencies(id) ON DELETE SET NULL, 
    subject TEXT NOT NULL,
    message TEXT NOT NULL,
    status TEXT DEFAULT 'open', 
    priority TEXT DEFAULT 'medium',
    ticket_type TEXT CHECK (ticket_type IN ('agency_to_platform', 'client_to_agency')),
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

ALTER TABLE support_tickets ENABLE ROW LEVEL SECURITY;

-- Policy: Users can see tickets they sent
CREATE POLICY \
Users
can
see
own
tickets\ ON support_tickets FOR SELECT USING (auth.uid() = sender_id);

-- Policy: Agency owners can see tickets sent TO their agency
CREATE POLICY \Agency
owners
can
see
client
tickets\ ON support_tickets FOR SELECT 
USING (
    ticket_type = 'client_to_agency' AND 
    agency_id IN (SELECT id FROM agencies WHERE owner_id = auth.uid())
);

